<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead" ng-bind="email$"></span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-md card-media"><img ng-src="https://www.gravatar.com/avatar/{{emailHash}}?s=200&d=https%3A%2F%2Fwww.gravatar.com%2Favatar%2F6185e19987f5fc4c08e9b3712736a6ad%3Fs%3D200%26f%3Dy"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>
</md-card>