<span ng-bind="symbolInfo.info.symbol" style="font-size:52px; font-weight:bold"></span>

<span>
    <b>Price</b><br>
    $<span ng-bind="symbolInfo.info.prevclose"></span>
</span>

<span>
    <b>Change</b><br>
    <span ng-class="{green : symbolInfo.info.change >= 0, red : symbolInfo.info.change < 0}">
        <span ng-bind="symbolInfo.info.change"></span> (<span ng-bind="symbolInfo.info.change_percentage"></span>%)
    </span>
</span>

<span>
    <b>Volume</b><br>
    <span ng-bind="symbolInfo.info.volume | number"></span>
</span>
