<div style="margin:10px;padding:10px;background-color:white;" md-whiteframe="3" layout="column" flex>
    <center>
        <h3>Transaction History</h3>
        <h5 style="margin-bottom:0px" ng-repeat="transaction in transactionHistory.history">
            <span ng-if="transaction.transactionType ==='purchase'">Bought </span>
            <span ng-bind="transaction.amount"></span> stock of
            <span ng-bind="transaction.symbol"></span> at
            <span ng-bind="transaction.pricePerStock"></span>$ per stock for a total of
            <span ng-bind="transaction.pricePerStock * transaction.amount"></span>$ on
            <span ng-bind="transaction.date | date"></span>
        </h5>
    </center>
</div>