<div style="margin:10px;padding:20px; background-color:white; " md-whiteframe="3" layout="column" flex>
    <center>
        <h3>Transaction History</h3>
    </center>

    <div style="overflow: auto;">
        <h5 style="margin-bottom:0px" ng-repeat="transaction in transactionHistory.history">
            <span ng-if="transaction.transaction">
            <span ng-if="transaction.transaction.transactionType ==='purchase'">Bought </span>
            <span ng-if="transaction.transaction.transactionType ==='sale'">Sold </span>
            <span ng-bind="transaction.transaction.amount"></span> stock<span ng-if="transaction.transaction.amount > 1">s</span> of
            <span ng-bind="transaction.transaction.symbol"></span> at
            <span ng-bind="transaction.transaction.pricePerStock  | currency"></span> per stock for a total of
            <span ng-bind="(transaction.transaction.pricePerStock * transaction.transaction.amount) | currency"></span> on
            <span ng-bind="transaction.transaction.date | date"></span>
            </span>

            <span ng-if="transaction.check">
            Deposited <span ng-bind="transaction.check.amount | currency"></span> into their account on
            <span ng-bind="transaction.check.date | date"></span>
            </span>
        </h5>
    </div>
</div>